.not-found {
  position: fixed;
  width: 100vh;
  height: 100vh;
  background-color: #fff;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theadback {
  background-color: #4527a0;
  color: #fff;
}

.navbarExtra {
  background-color: #311b92;
}

.center {
  align-content: center;
  text-align: center;
}

.ml-30 {
  margin-left: 30px;
}

.title {
  font-weight: bolder;
}
